#data-1{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
    aside{
        canvas{
            cursor: grab;
            &:active{
                cursor: grabbing;
            }
        }
    }
    article{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        h2{
            width: fit-content;
        }
        
    }
}

#data-2{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
    article{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        h2{
            width: fit-content;
        }
        
    }
}
