@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

$color-primary: #0b013c;
$color-secondary: #bf5c66;
$color-purple: #2b1a5b;
$-color-blue: #1b1c67;
$color-blue-light: #bbc5d7;
