*{
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html{
  overflow-y: hidden;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  position: relative;
  background-color: $color-primary;
  color: white;
  font-size: 16px;
  padding-block: 100px;
  overflow: hidden;
  
}

h1{
  font-size: clamp(2.25rem, 5.25vw, 5rem);
  @media (max-width: 900px) {
    text-align: center;
  }
}

h2{
  font-size: clamp(2rem, 3vw, 2.5rem);
}

h3{
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

p {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  line-height: 1.35;
  text-align: justify;
}
