*{
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background-color: $color-primary;
  color: white;
  font-size: 16px;
  padding-block: 100px;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 1.75rem;
}

p {
  line-height: 1.35;
  text-align: justify;
}
