@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Brume";
  src: url("../fonts/Brume-Italic.woff2") format("woff2"), url("../fonts/Brume-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brume";
  src: url("../fonts/Brume-Regular.woff2") format("woff2"), url("../fonts/Brume-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html, input {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Brume";
  color: #bf5c66;
}

input {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  /* Opéra*/
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-y: hidden;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  position: relative;
  background-color: #0b013c;
  color: white;
  font-size: 16px;
  padding-block: 100px;
  overflow: hidden;
}

h1 {
  font-size: clamp(2.25rem, 5.25vw, 5rem);
}
@media (max-width: 900px) {
  h1 {
    text-align: center;
  }
}

h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

p {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  line-height: 1.35;
  text-align: justify;
}

.division {
  width: 110%;
  margin-top: -200px;
}
@media (max-width: 900px) {
  .division {
    margin-top: 0;
  }
}
.division:nth-of-type(3) {
  position: absolute;
  bottom: -10vw;
}

#data-1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  #data-1 {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
}
#data-1 aside canvas {
  cursor: grab;
}
#data-1 aside canvas:active {
  cursor: grabbing;
}
#data-1 article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 900px) {
  #data-1 article {
    width: 90%;
  }
}
#data-1 article h2 {
  width: fit-content;
}

#data-2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  #data-2 {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
#data-2 aside {
  width: 40%;
}
@media (max-width: 900px) {
  #data-2 aside {
    width: 90%;
  }
}
#data-2 aside img {
  width: 100%;
}
#data-2 article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 900px) {
  #data-2 article {
    width: 90%;
  }
}
#data-2 article h3 {
  width: fit-content;
  color: #bbc5d7;
}
#data-2 article .attention {
  color: rgb(198, 53, 53);
  font-size: 0.9em;
  opacity: 0;
  transition: opacity ease 0.15s;
}
@media (max-width: 900px) {
  #data-2 article h4 {
    align-self: center;
  }
}
#data-2 article .cd-input-data-2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 900px) {
  #data-2 article .cd-input-data-2 {
    align-self: center;
  }
}
#data-2 article .cd-input-data-2 div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#data-2 article .cd-input-data-2 div label, #data-2 article .cd-input-data-2 div p {
  color: #bbc5d7;
}
#data-2 article .cd-input-data-2 div input {
  width: 75%;
  background: none;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px solid #bf5c66;
  padding-block: 10px;
  box-sizing: content-box;
}
#data-2 article .cd-input-data-2 div input:focus::placeholder {
  transition: all ease 0.3s;
  opacity: 0;
}
#data-2 article .cd-input-data-2 div p {
  font-size: 0.7em;
  opacity: 0.75;
}

#data-3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40vw;
}
@media (max-width: 900px) {
  #data-3 {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
#data-3 aside {
  width: 45%;
}
@media (max-width: 900px) {
  #data-3 aside {
    width: 90%;
  }
}
#data-3 aside canvas {
  width: 100%;
}
#data-3 article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 900px) {
  #data-3 article {
    width: 90%;
  }
}
#data-3 article select {
  background: none;
  border: none;
  outline: none;
  color: #bbc5d7;
  border-bottom: 1px solid #bf5c66;
  padding-bottom: 10px;
  font-size: 1.25em;
  font-weight: lighter;
}
#data-3 article select option {
  background: #2b1a5b;
}

.cd-loader {
  height: 100vh;
  width: 100%;
  background-color: #bf5c66;
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: clip-path 3s ease-in-out;
  clip-path: inset(0 0 0 0);
}
.cd-loader h4 {
  color: #bbc5d7;
  font-size: 3em;
  position: absolute;
  transform: translateY(-10vh);
  transition: opacity 0.5s;
}
.cd-loader .progress {
  width: 400px;
  max-width: 85vw;
  height: 4px;
  position: absolute;
  left: 50%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: opacity 0.5s;
}
.cd-loader .progress:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: white;
  animation: load 7s linear;
}
.cd-loader .cd-fusée {
  position: absolute;
  bottom: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shake 0.5s infinite;
  transition: all 3s ease-in-out;
}
.cd-loader .cd-fusée .base1, .cd-loader .cd-fusée .base2 {
  position: absolute;
  height: 15vw;
  aspect-ratio: 5/15;
  background-color: #713992;
  border-radius: 100%;
  clip-path: inset(0 50% 17% 0);
}
.cd-loader .cd-fusée .base2 {
  clip-path: inset(0 0 17% 50%);
  background-color: #9c469f;
}
.cd-loader .cd-fusée .base3 {
  position: absolute;
  height: 3px;
  width: 3.75vw;
  bottom: -5.1vw;
  background-color: white;
}
.cd-loader .cd-fusée .hublot {
  position: absolute;
  width: 2.5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #ac9fa8;
  border: 3px solid white;
  top: -4vw;
}
.cd-loader .cd-fusée .aile1, .cd-loader .cd-fusée .aile2, .cd-loader .cd-fusée .aile3 {
  position: absolute;
  border-radius: 100%;
  height: 6vw;
  aspect-ratio: 1/5;
  background-color: #3c2364;
  bottom: -8vw;
}
.cd-loader .cd-fusée .aile2 {
  left: -2.75vw;
  z-index: -1;
  bottom: -8.5vw;
}
.cd-loader .cd-fusée .aile3 {
  right: -2.75vw;
  z-index: -1;
  bottom: -8.5vw;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
@keyframes load {
  0% {
    width: 0%;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

/*# sourceMappingURL=style.css.map */
