@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Brume";
  src: url("../fonts/Brume-Italic.woff2") format("woff2"), url("../fonts/Brume-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brume";
  src: url("../fonts/Brume-Regular.woff2") format("woff2"), url("../fonts/Brume-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html, input {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Brume";
  color: #bf5c66;
}

input {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  /* Opéra*/
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background-color: #0b013c;
  color: white;
  font-size: 16px;
  padding-block: 100px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  line-height: 1.35;
  text-align: justify;
}

#data-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
}
#data-1 aside canvas {
  cursor: grab;
}
#data-1 aside canvas:active {
  cursor: grabbing;
}
#data-1 article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#data-1 article h2 {
  width: fit-content;
}

#data-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
}
#data-2 article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#data-2 article h2 {
  width: fit-content;
}
#data-2 article .cd-input-data-2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 20px;
}
#data-2 article .cd-input-data-2 div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#data-2 article .cd-input-data-2 div input {
  width: 75%;
  background: none;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px solid #bf5c66;
  padding: 10px;
  box-sizing: content-box;
}
#data-2 article .cd-input-data-2 div input:focus::placeholder {
  transition: all ease 0.3s;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
